################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.exe

/.vs/
/projekt/.vs/projekt/v17/.suo
/.vs/Porg-Bazy/v17/.wsuo
/projekt/.vs/projekt/v17/.suo
