@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Strona stwożona jako projekt na "programowanie obiektowe i graficzne" oraz "bazy danych" przez
    <ul>
        <li>Paweł Cykowski</li>
        <li>Wojciech Dziurosz</li>
        <li>Bartosz Skura</li>
        <li>Paweł Wójcik</li>
    </ul>
</p>
