@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Strona stwożona jako projekt na "programowanie obiektowe i graficzne" oraz "bazy danych" przez
    <ul>
        <li>Pawła Cykowskiego</li>
        <li>Wojciecha Dziurosza</li>
        <li>Bartosza Skurę</li>
        <li>Pawła Wójcika</li>
    </ul>
</p>
