<div style="text-align:center">
<h1>Twórcy</h1>
<p>Strona stwożona jako projekt na "programowanie obiektowe i graficzne" oraz "bazy danych" przez
        <p>Paweł Cykowski</p>
        <p>Wojciech Dziurosz</p>
        <p>Bartosz Skura</p>
        <p>Paweł Wójcik</p>

</p>
</div>