@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - projekt</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/projekt.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"> @*tutaj sa styl css do ikonek*@
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-info ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">projekt</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       @if (User.Identity.IsAuthenticated){
                            <li class="nav-item">
                                <a class="nav-link text-black" asp-controller="Account" asp-action="Index">@HttpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.Name).Value</a>
                            </li>
                            <li class="nav-item">
                                 <a class="nav-link text-black" asp-controller="Account" asp-action="Logout">Wyloguj</a>
                            </li>
                            <li class="nav-item"  style="position: relative;">
                                
                                <a class="nav-link text-black">Posiłki</a>
                                <div id="li-exp">
                                <ul class="list">
                                    <li><a class="nav-link text-black" asp-area="" asp-controller="Meals" asp-action="MyMeals">Moje</a></li>
                                    <li><a class="nav-link text-black" asp-area="" asp-controller="Meals" asp-action="Create">Dadaj posiłek</a></li>
                                    <li><a class="nav-link text-black" asp-area="" asp-controller="Meals" asp-action="Products">Produkty</a></li>
                                </ul>
                                </div>
                             </li>
                        }
                        else{
                            <li class="nav-item">
                                <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index">Start</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Privacy">Informacje</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black" asp-area="" asp-controller="Account" asp-action="Login">Zaloguj się</a>
                            </li>
                        }
                        
                    </ul>
                    <div class="custom-control custom-switch mr-5" id="dark-toggle">
                        <input type="checkbox" class="custom-control-input theme-toggle save-cb-state" name="mycheckbox"id="theme-toggle" onclick="themeToggle()" />
                        <label class="custom-control-label" for="theme-toggle">Tryb Ciemny</label>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script>
        (function () {
            var cbstate;

            window.addEventListener('load', function () {
                cbstate = JSON.parse(localStorage['CBState'] || '{}');

                for (var i in cbstate) {
                    var el = document.querySelector('input[name="' + i + '"]');
                    if (el) el.checked = true;
                }

                var cb = document.getElementsByClassName('save-cb-state');

                for (var i = 0; i < cb.length; i++) {

                    cb[i].addEventListener('click', function (evt) {
                        if (this.checked) {
                            cbstate[this.name] = true;
                        }
                        
                        else if (cbstate[this.name]) {
                            delete cbstate[this.name];
                        }

                        localStorage.CBState = JSON.stringify(cbstate);
                    });
                }
            });
        })();
        var tSwitcher = document.querySelectorAll("[class^=theme-switcher]");
        let element = document.body, onpageLoad = localStorage.getItem("theme") || "";
        
        if (null != onpageLoad && "dark-mode" == onpageLoad)
            for (let e = 0; e < tSwitcher.length; e++)tSwitcher[e].checked = !0;
            function themeToggle() {
                event.target.checked ? (localStorage.setItem("theme", "dark-mode"), tSwitcher.forEach(function (e) {
                    console.log(element.classList);
                    element.classList.add("dark-mode"), e.checked = !0
                
                })) : (localStorage.setItem("theme", ""), tSwitcher.forEach(function (e) {
                    element.classList.remove("dark-mode"), e.checked = !1 })) 
            } onpageLoad && element.classList.add(onpageLoad);
            (function () {
                let onpageLoad = localStorage.getItem("theme") || "";
                let element = document.body;
                element.classList.add(onpageLoad);
                document.getElementById("theme").textContent = localStorage.getItem("theme") || "light";
            })();

        function themeToggle() {
            let element = document.body;
            element.classList.toggle("dark-mode");
            
            let theme = localStorage.getItem("theme");
            if (theme && theme === "dark-mode") {
                localStorage.setItem("theme", "");
            }
            else {
                localStorage.setItem("theme", "dark-mode");
            }

            document.getElementById("theme").textContent = localStorage.getItem("theme");
        
        }

        
    </script>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - projekt - <a asp-area="" asp-controller="Home" asp-action="Privacy">Informacje</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
