@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ModelCalosci
@{

  <p>@Model.Konto.Nazwa</p>
  <p>@Html.DisplayFor(item=>item.Dania.NazwaDania)</p>
  <p>@Html.DisplayFor(item=>item.Produkt)</p>
  <p>@Html.DisplayFor(item=>item.Jadlo.Dzień)</p>

}
