@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="login">
    
    <div class="login-form">
        <h1>Login</h1>
        <form action="Verify" method="post">
            <div class="pole-login">
                <label>Nazwa użytkownika:</label>
                <input type="text" name="Nazwa" placeholder="wpisz nazwę użytkownika" required="" />
            </div>
            <div class="pole-login">
                <label>Hasło:</label>
                <input type="password" name="Haslo" placeholder="Wpisz hasło" required="" id="passwd" />
            </div>
            <div class="label">
                <input type="checkbox" name="checkbox" value="show password" onclick="showPwd()" />
                <label>pokaż hasło</label>
            </div>
            <script>
                function showPwd() {
                    var x = document.getElementById("passwd");
                    if (x.type === "password") {
                        x.type = "text";
                    }
                    else {
                        x.type = "password";
                    }
                }
            </script>
            <div class="login-button">
            <input type="submit" value="Zaloguj" />
            <a asp-area="" asp-controller="Account" asp-action="Register">
                <input type="button" value="Zarejestruj się" />
                </a>
            </div>
            @{
                if (TempData["success"] != null)
                {
                    <p class="text-danger">@TempData["success"]</p>
                }
            }
        </form>
    </div>

</div>
