@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="login">
<div class="login-form">
    <h1>Rejestracja</h1>
    <form action="Register" method="post">
        <div class="pole-login">
            <label>Nazwa użytkownika:</label>
            <input type="text" name="Nazwa" placeholder="wpisz nazwę użytkownika" required="" />
        </div>
        <div class="pole-login">
            <label>Hasło:</label>
            <input type="password" name="Haslo" placeholder="Wpisz hasło" required="" id="passwd" />
        </div>
        <div class="label">
            <input type="checkbox" name="checkbox" value="show password" onclick="showPwd()" />
            <label>pokaż hasło</label>
        </div>
        <script>
            function showPwd(){
                var x = document.getElementById("passwd");
                if(x.type==="password"){

                    x.type="text";
                }
                else{
                    x.type="password";
                }

            }
        </script>
        <input type="submit" value="Zarejestruj się" />
    </form>
</div>
</div>