@model projekt.Models.Dania
<h1>@Model.NazwaDania</h1>


@using (Html.BeginForm(FormMethod.Post))
{
    <div>
       <label>Nazwa</label> <input name="Nazwa"><br>
        <label>Artykuł</label>
    </div>
}

<button>Dodaj</button>