@model Tuple<List<projekt.Models.Produkt>>



@{
    ViewData["Title"] = "Create";
    List<projekt.Models.Produkt> produkty = Model.Item1; // z ta wezme liste wszystkich produktow
    List<projekt.Models.Produkt> produkty_nowe = new List<projekt.Models.Produkt>(); //to jest gotowa lista nowych produktow
}



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"> @*tutaj sa styl css do ikonek*@
<div class="btn-group">
    <a asp-controller="Meals" asp-action="MyMeals">
        <span class="btn btn-sm btn-outline-primary">
            <i class="fa fa-arrow-left"></i>
        </span>
    </a>
</div>


<div>
    <form asp-controller="Meals" asp-action="CreateMeal"> @*form ktory po submicie przekieruje do listy z posilkami*@
        <label class="control-label">Nazwa</label>
        <input class="form-control" name="nazwa" />
        <button type="submit">Utwórz</button>
    </form>
    <div class="form-group"> 
        
    </div>
</div>








<br />
<br />
<br />
<br />
<br />
<br />Lista z produktami cos na zasadzie ze mozna dodac produkt i podac ilosc, przycisk utworz

