@*@model InventoryBeginners.Models.Supplier
*@
@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"> @*tutaj sa styl css do ikonek*@
<div class="btn-group">
    <a asp-controller="Meals" asp-action="MyMeals">
        <span class="btn btn-sm btn-outline-primary">
            <i class="fa fa-arrow-left"></i>
        </span>
    </a>
    
</div>


<h1>Supplier - Create</h1>
<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label  class="control-label">Nazwa</label>
                <input  class="form-control" />
                <span  class="text-danger"></span>
            </div>

            

            

           
        
        </form>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />Lista z produktami cos na zasadzie ze mozna dodac produkt i podac ilosc, przycisk utworz

