@model projekt.ViewModels.DanieViewModel

<h2>Utwórz danie</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.NazwaDania)
        @Html.TextBoxFor(model => model.NazwaDania, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NazwaDania)
    </div>

    <h3>Produkty:</h3>
    @Html.DropDownListFor(model => model.Produkty, new SelectList(Model.Produkty, "Id", "Nazwa"))
        
    

        
   <br/>

    <input type="submit" value="Utwórz" class="btn btn-primary" />
}
