@*@model IEnumerable<projekt.Models.Produkt>*@
@model Tuple<IEnumerable<projekt.Models.Produkt>, IEnumerable<projekt.Models.Dania>>

@{
    ViewData["Title"] = "View";
    
}
<style>
    .container{
        
        flex-direction: row;
    }
    .left-div{
        background-color: lightblue;
        width:50%;
        margin-right:2%;
    }

    .right-div {
        background-color: lightcoral;
        width: 50%;
    }



</style>

<div class="container">
    
    <input placeholder="Podaj nazwę dania">
    <button>Dodaj</button>
    <div class="left-div">
    </div>
    <div class="right-div" >

        
       

        <table class="table">
            <thead>
                <tr>

                    <th>
                        Nazwa dania
                    </th>
                    <th>
                        Kaloryczność
                    </th>
                    <th>
                        Białko
                    </th>
                    <th>
                        Tłuszcz
                    </th>
                    <th>
                        Węglowodany
                    </th>
                    <th>
                        Błonnik
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item2)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NazwaDania)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            <input type="checkbox" onclick="">
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>



</div>
