.btngroup{
    float:right;
    width:100%;
    margin:1em 0;
}
.btngroup span{
    margin:0;
    float:left;
}

#add-new{
    display:block;
    width:120px;
    float:right;
}
#back{
    margin-right:5px;
}